       
       $jaune:rgba(254, 212, 48, 0.5);
       $jauneTaxi: #fed430; 
       $gris: #d4cece; 
    
    * {
        margin:0; 
        padding:0;
        font-size:1em;  
    }

   body, html{height:100%;}

    body{
    padding: 0;
    }
a {
    text-decoration: none;
}

#marge{
    background-color: #0f434e;  
}
.navbar{
    opacity: 100%;
}

.col>input{
    width:100%;
}

#navbarColor01>ul{
    text-align:right; 
}

#logo{
    width: 30%;
    height: auto;
}

.container-fluid{
    padding: 0;
    max-width:1280px;
    min-height:100%;
    margin:0 auto;
    position:relative;
}

.Accueil{
    z-index: 0;
    width: 100%;
    height: auto;
    background-position:top;
}

#resa{
    position: relative;
    z-index: 1;
    // background-position: absolute; 
    padding: 10%; 
    background: url("../../public/img/cholet2.png") no-repeat scroll top/ 120% auto;
    margin-bottom: 2%; 

}

 .under{
    text-decoration:underline; 
    margin-bottom:4%; 
}


[class*="col-"], footer {
   /* background-color:lightgreen;
    border: 2px solid black;*/
    border-radius: 6px;
    line-height: 40px;
}

#trajet_cp1{
    width:100%;
}

.imgArcticle{
    box-shadow:10px 5px 5px grey ; 
}

#cp,#cp2{
    border-bottom-right-radius : 0;
    border-top-right-radius : 0;
}

#adresse, #arrive{
    border-bottom-left-radius :0;
    border-top-left-radius : 0;
}

#form1,#form2{
    color: white;
    padding: 0;
}

.inscription1{
    margin: 1%;
}

.trajet2{
    display: none;
}

#commentaire, #connexion, #inscription {
    background-color: $gris;
    padding: 2%;
    overflow: hidden;
    padding:2%;
    height: 100%;
}

.ui-autocomplete{
    background-color: $jaune ;
}

.topContact{
    background-color: $jauneTaxi;
    font-size: 20px;
}

.jaune{
    color:$jauneTaxi; 
}

#paiement{
    background-color:$gris;
    border-radius: 0;
}

.star{
    background-color:transparent;
    border:none; 
    border-radius: 50%;
}

.inline{
    display: inline; 
}

.dropdown-menu{
    z-index: 10;
}

.footer{
    background-color: #0f434e;
    border-radius: 0%;
    margin-top: 2%;
    bottom:0;
    width:100%;
    padding-top:50px;
}



.article>img{
    width: 200px;
    height: auto;
}


.articlecard{
    border: solid $gris 1px; 
    margin: 2%;
    padding:2%;
}

#articlelink{
    background-color: $gris;
    padding: 2%;
    overflow: hidden; 
    height: 100%;
    margin-top: 2%;
}

@media only screen and (min-width : 1224px){
    /* Styles pour cette Media Queries */
    .trait{
        border-top:solid black 1px;
        border-bottom:solid black 1px;
        border-radius:0;
    }
}
    @media only screen and (min-device-width : 320px) and (max-device-width : 1220px) {
        /* Styles pour cette Media Queries */
        .trait{
            border-left:solid black 1px;
            border-right:solid black 1px;
            border-radius:0;
        }
    }