{% extends 'base.html.twig' %}


{% block title %}mentions légales {% endblock %}

{% block body %}
    <p>
        
            <strong>Ce site est édité par :</strong>  Am Taxi <br/>
            <strong>Capital :</strong> 3000,00 € <br/>
            <strong>Adresse :</strong> 4 sq Corfou 49300 Cholet <br/>
            <strong>Adresse électronique :</strong> amtaxi.mazouz@gmail.com<br/>
            <strong>Téléphone :</strong> 06 95 00 98 86<br/>
            <strong>N° Registre du Commerce ou Répertoire des métiers :</strong><br/>
            <strong>N° SIRET de l’établissement :</strong> 84999066800014<br/>
            N° d’assujettissement à la TVA :<br/>
            Titre professionnel – Autorisation :<br/>
            Référence aux règles professionnelles applicables :<br/>
            Qualité de locataire gérant ou gérant mandataire :<br/>
            Mentions légales spécifiques :<br/>
            <strong>Directeur de rédaction et de publication :</strong> Am Taxi<br/>
            Ce site a été conçu et réalisé par Hanif LAARABI 
            Son hébergement est assuré par , dans un centre de données  situé à .

    </p>
{% endblock %}